<style>

</style>

<div>
    <h1>This is {{friendName}} activity</h1>
</div>

<div>
    {{#post}}
    <p>id: {{id}}</p>
    <p>type: {{type}}</p>
    <p>date: {{created_at}}</p>
    <h1>-------------------------------</h1>
    {{/post}}
</div>
