<style>
    h1 {
        margin-left: 20px;
    }
    form {
        margin-left: 20px;
    }
    .sub {
        margin-top: 10px;
    }
</style>

<div>
    <h1>Github API login</h1>
</div>

<form class="txt" action="/home" method="post">
    <div>
        <input type="text" name="name" placeholder="User Name">
    </div>
    <div>
        <input class="sub" type="submit" value="Login">
    </div>
</form>
